coverage
djangocms_helper
pyflakes>=2.1.1
flake8
isort
django-classy-tags<2.0.0
django-sekizai<2.0.0

# Unreleased django-cms 4.0 compatible packages
https://github.com/divio/django-cms/archive/release/4.0.x.zip
https://github.com/divio/djangocms-versioning/tarball/master#egg=djangocms-versioning
